*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1600px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  background-color: #1b2944;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
