.page {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  margin: 0;
  padding-top: 60px;
  background-color: #fec7ee;
}

.page::before {
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 /0.3);
  inset: 0;
  z-index: 1;
}

.page__video {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.page__title {
  z-index: 1;
  height: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 116px;
  line-height: 136px;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  max-width: 720px;
  color: #000000;
}

.page__title:hover {
  color: #4c4c4c;
  cursor: default;
}
.page__title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  white-space: pre;
  top: 182px;
  right: 20px;
  max-width: 760px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 36px 44px;

  text-align: left;
  background-color: #fff;

  box-shadow: 0px 12px 0px #000;
  text-transform: initial;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  color: #000;
  letter-spacing: normal;
}

.page__title::after {
  content: "*";
  position: relative;
}
